<header>
  <nav>
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="Blood2Save Logo" height="256" width="313"/>
      </a>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/dashboard" *ngIf="isLoggedIn" (click)="goToDashboard()">Dashboard</a></li>

        <!-- Show Inventory only for Admin -->
        <li *ngIf="role === 'admin'"><a routerLink="/inventory">Inventory</a></li>

        <!-- Requests: Donor -> Donor Blood Request | Recipient -> Recipient Blood Request -->
        <li *ngIf="isLoggedIn"><a (click)="goToRequest()">Requests</a></li>

        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>

      <!-- Show Login if user is NOT logged in -->
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>

      <!-- Show First Name and Logout if user is logged in -->
      <li *ngIf="isLoggedIn" (click)="goToDashboard()">
        <span class="user-name">{{ firstName }}</span>
      </li>
      <li *ngIf="isLoggedIn">
        <button (click)="logout()" class="logout-btn">Logout</button>
      </li>
    </ul>
  </nav>
</header>
