<header>
  <nav>
    <div class="logo">
      <a routerLink="/">
        <img ngSrc="assets/images/logo.png" alt="Blood2Save Logo" height="256" width="313"/>
      </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/inventory">Inventory</a></li>
      <li><a routerLink="/requests">Requests</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li><a routerLink="">Login</a></li>
    </ul>
  </nav>
</header>
