<div class="recipient-profile">
  <h2>Recipient Profile</h2>
  <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        type="text"
        [(ngModel)]="profile.first_name"
        name="first_name"
        required
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        type="text"
        [(ngModel)]="profile.last_name"
        name="last_name"
        required
      />
    </div>

    <div class="form-group">
      <label for="bloodGroup">Blood Group</label>
      <select
        id="bloodGroup"
        [(ngModel)]="profile.bloodGroup"
        name="bloodGroup"
        required
      >
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
    </div>


    <div class="form-group">
      <label for="preferred-center">Preferred Donation Center:</label>
      <select
        id="preferred-center"
        [(ngModel)]="preferredCenterId"
        class="form-control"
        name="preferredCenterId"
      >
        <option *ngFor="let center of centers" [value]="center.centerId">
          {{ center.name }} - {{ center.city }}
        </option>
      </select>
    </div>


    <button type="submit" class="save-btn">Save Changes</button>
  </form>
</div>
